@model VermittlungsPlattform.Models.Db.Menu

@{
    ViewData["Title"] = "Edit";
}

<form method="post">

    <div class="card border-secondary mb-3" style="max-width: 50rem;">
        <div class="card-header bg-secondary">Edit Category</div>
        <div class="card-body">

            <div class="form-floating mb-3">
                <input asp-for="MenuTitle" class="form-control" placeholder="Thriller" />
                <label asp-for="MenuTitle"></label>
                <span asp-validation-for="MenuTitle" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Link" class="form-control" placeholder="Thriller" />
                <label asp-for="Link"></label>
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Type"></label>
                <select asp-for="Type" class="form-select">
                    <option value="Top">Top</option>
                    <option value="Bottom">Bottom</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control">Update</button>
                </div>
                <div class="col-6">
                    <a asp-controller="Menus" asp-action="Index" class="btn btn-outline-secondary form-control">Back to List</a>
                </div>
            </div>

        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
