@{
    ViewData["Title"] = "Home";
}

<div style="max-width: 962px">
    <div class="card border-0 rounded-0 banner-06 hover-zoom-in hover-shine">
        <img class="lazy-image w-100 card-img object-fit-cover" src="~/images/LogoCompany/3044005d-5778-4c6b-9f39-c645f2b3cff5.jpg" data-src="./images/LogoCompany/3044005d-5778-4c6b-9f39-c645f2b3cff5.jpg" width="930" height="420" alt="Discover Our Autumn Skincare">
        <div class="card-img-overlay p-md-12 m-2 p-9">
            <h5 class="card-subtitle ls-1 mb-4 fw-semibold fs-18px text-white fw-bold">NEW COLLECTION</h5>
            <h3 class="card-title card-title lh-45px fs-3 text-white font-primary fw-normal mw-lg-60 pe-xl-25 pe-lg-10 pe-md-0 pe-sm-20">Discover Our Autumn Skincare</h3>
            <div class="mt-7"><a href="#" class="btn btn-white">Explore More</a></div>
        </div>
    </div>
</div>