@model VermittlungsPlattform.Models.Db.StudentProfile

@{
    ViewData["Title"] = "Create Student Profile";
    var Interesse = ViewData["Interesse"] as List<VermittlungsPlattform.Models.Db.Interesse>;
}

<div class="container-xl px-4 mt-4">
    <style>
        .img-account-profile {
        height: 10rem;
        }

        .rounded-circle {
        border-radius: 50% !important;
        }

        .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
        }

        .card .card-header {
        font-weight: 500;
        }

        .form-control, .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        color: #69707a;
        background-color: #fff;
        border: 1px solid #c5ccd6;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        textarea.form-control {
        resize: none;
        }

        .gallery-images {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        }

        .gallery-images img {
        width: 100%;
        max-width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 0.15rem 0.5rem 0 rgb(33 40 50 / 10%);
        }

        .interest-button {
            position: relative;
        }

        .btn-check:checked + .btn {
            background-color: #0d6efd;
            color: white;
            border-color: #0d6efd;
        }

        .btn-check:focus + .btn {
            box-shadow: none !important;
        }

        .btn-outline-primary {
            background-color: #fff;
            color: #0d6efd;
            border-color: #0d6efd;
        }

            .btn-outline-primary.selected {
                background-color: #0d6efd;
                color: white;
            }
    </style>

    <!-- Student Profile Creation -->
    <form asp-action="Create" asp-controller="StudentProfiles" enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                        <!-- Profile picture help block-->
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <!-- Profile picture upload button-->
                        <input type="file" name="ProfileImage" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Student details card-->
                <div class="card mb-4">
                    <div class="card-header">Create Student Profile</div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>



                        <!-- Apropos -->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Apropos">About Me</label>
                            <textarea class="form-control" asp-for="Apropos" rows="3" placeholder="Describe yourself"></textarea>
                            <span asp-validation-for="Apropos" class="text-danger"></span>
                        </div>

                        <!-- Fachrichtung -->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1" asp-for="Fachrichtung">Fachrichtung</label>
                                <input class="form-control" asp-for="Fachrichtung" type="text" placeholder="Enter Fachrichtung">
                                <span asp-validation-for="Fachrichtung" class="text-danger"></span>
                            </div>

                            <!-- Studiengang -->
                            <div class="col-md-6">
                                <label class="small mb-1" asp-for="Studiengang">Studiengang</label>
                                <input class="form-control" asp-for="Studiengang" type="text" placeholder="Enter Studiengang">
                                <span asp-validation-for="Studiengang" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Schwerpunkte -->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Schwerpunkte">Schwerpunkte</label>
                            <input class="form-control" asp-for="Schwerpunkte" type="text" placeholder="Enter Schwerpunkte">
                            <span asp-validation-for="Schwerpunkte" class="text-danger"></span>
                        </div>

                        <!-- Skills -->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Skills">Skills</label>
                            <input class="form-control" asp-for="Skills" type="text" placeholder="List your skills">
                            <span asp-validation-for="Skills" class="text-danger"></span>
                        </div>

                        <!-- Location -->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Location">Location</label>
                            <input class="form-control" asp-for="Location" type="text" placeholder="Enter Location">
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>

                        <!-- Gender -->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Geschlecht">Gender</label>
                            <select class="form-control" asp-for="Geschlecht">
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            <span asp-validation-for="Geschlecht" class="text-danger"></span>
                        </div>

                        <!-- Abschluss -->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Abschluss">Abschluss</label>
                            <select class="form-control" asp-for="Abschluss">
                                <option value="">Select Abschluss</option>
                                <option value="Bachelor">Bachelor</option>
                                <option value="Master">Master</option>

                            </select>

                            <span asp-validation-for="Abschluss" class="text-danger"></span>
                        </div>

                        <!-- CV name -->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Cvname">Lebenslauf</label>
                            <input class="form-control" asp-for="Cvname" type="file" name="pdfFile" accept="application/pdf" placeholder="Enter CV file name">
                            <span asp-validation-for="Cvname" class="text-danger"></span>
                        </div>

                        <!-- Social Media Links -->
                        <h4>Social Media</h4>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Instagram">Instagram</label>
                            <input class="form-control" asp-for="Instagram" type="text" placeholder="Enter Instagram username">
                            <span asp-validation-for="Instagram" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Github">Github</label>
                            <input class="form-control" asp-for="Github" type="text" placeholder="Enter Github username">
                            <span asp-validation-for="Github" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Linkedin">LinkedIn</label>
                            <input class="form-control" asp-for="Linkedin" type="text" placeholder="Enter LinkedIn profile link">
                            <span asp-validation-for="Linkedin" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Facebook">Facebook</label>
                            <input class="form-control" asp-for="Facebook" type="text" placeholder="Enter Facebook profile link">
                            <span asp-validation-for="Facebook" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Twitter">Twitter</label>
                            <input class="form-control" asp-for="Twitter" type="text" placeholder="Enter Twitter username">
                            <span asp-validation-for="Twitter" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="small mb-2">Interesse</label>
                            <div class="container p-3 border rounded">
                                <div class="d-flex flex-wrap gap-2">
                                    @foreach (var x in ViewBag.Interres )  // Liste des intérêts
                                    {
                                        <div class="interest-button">
                                            <input type="checkbox"
                                                   class="btn-check"
                                                   id="interest-@x.Id"
                                                   name="SelectedInterests"
                                                   value="@x.Id"
                                                   autocomplete="off">
                                            <label class="btn btn-outline-primary rounded-pill" for="interest-@x.Id">
                                                @x.Name
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>





                        <!-- Save changes button-->
                        <div class="">
                            <button class="btn btn-primary" type="submit">Create Profile</button>
                            <a class="btn btn-secondary" asp-action="index" asp-controller="StudentProfiles">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });

    </script>
}