@{
    ViewData["Title"] = "Index";
}

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <!-- Student Card -->
        <div class="bg-blue-500 text-white shadow-lg rounded-lg p-6">
            <div class="flex justify-between items-center">
                <div>
                    <h3 class="text-3xl font-bold">13436</h3>
                    <p>Student</p>
                </div>
                <div class="text-5xl">
                    <i class="fas fa-user-graduate"></i>
                </div>
            </div>
            <a href="#" class="block mt-4 text-sm text-white opacity-75 hover:opacity-100 transition">
                View More <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>

        <!-- Kommentare Card -->
        <div class="bg-green-500 text-white shadow-lg rounded-lg p-6">
            <div class="flex justify-between items-center">
                <div>
                    <h3 class="text-3xl font-bold">₹185358</h3>
                    <p>Kommentare</p>
                </div>
                <div class="text-5xl">
                    <i class="fas fa-comments"></i>
                </div>
            </div>
            <a href="#" class="block mt-4 text-sm text-white opacity-75 hover:opacity-100 transition">
                View More <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>

        <!-- Unternehmen Card -->
        <div class="bg-yellow-500 text-white shadow-lg rounded-lg p-6">
            <div class="flex justify-between items-center">
                <div>
                    <h3 class="text-3xl font-bold">5464</h3>
                    <p>Unternehmen</p>
                </div>
                <div class="text-5xl">
                    <i class="fas fa-building"></i>
                </div>
            </div>
            <a href="#" class="block mt-4 text-sm text-white opacity-75 hover:opacity-100 transition">
                View More <i class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

   
</div>

<!-- Inclure Font Awesome pour les icônes -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

